<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <add key="AppCode" value="TrackItETS" />
    <add key="AppName" value="TrackIt for ETS" />
    <add key="AppTitle" value="TrackItETS" />
    <add key="Version" value="1.0" />
    
    <add key="WebServer" value="CA1PRDETSDB" />
    <add key="WebServerAlias" value="CA1PRDETSDB" />
    <add key="ConnectionString" value="Server=CA1PRDETSDB;Database=TrackItETS;User Id=sa;Password=Pass@123" />
    <add key="CommandTimeout" value="60" />   
    <add key="LogFilePath" value="C:\TrackITETS\Logs" />
    <add key="DatFilePath" value="C:\TrackITETS\Data" />
    <add key="CodeMethodLogging" value="true" />
    <add key="DBCallsLogging" value="true" />
    <add key="DBResultsLogging" value="false" />
    <add key="BlockingDay" value="7" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />        
      </controls>
    </pages>
  <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>